ul,li{
    list-style: none;
    padding: 0;
    margin: 0;
}
#container{
    width: 531px;
    height: 164px;
    position: relative;
    margin: 0 auto;
    overflow-y: hidden;
}
.scrollHeader{
    width: 531px;
    height: 40px;
    border: 1px solid #ff6557;
    margin: 0 auto;
    line-height: 40px;
    text-align: center;
    background: #ff6557;
    color: #fff;
    box-sizing: border-box;
}
#list{
    position: absolute;
    width: 531px;
}
#list>li{
    height: 40px;
    line-height: 40px;
    border: 1px solid #ccc;
    border-top: none;
    text-align: center;
}
